.main {
    display: block;
    margin: 2rem auto 1rem auto;
    width: 64rem;
}

.main h1 {
    font-weight: bold;
    font-size: 1.5rem;
    color: #900;
    text-align: left;
    margin: 0 1.5rem 1rem 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #900
}

.main h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color:rgb(0, 70, 136);
    text-align: left;
    padding-top: 0.5rem;
}

.main .welcome {
    font-size: 1.2rem;
    text-align: justify;
    text-justify: inter-word;
    color: rgb(0, 0, 0);
    margin: 2rem 1.5rem 2rem 1rem;
    hyphens: none;
}

.main p {
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 0.5rem; /* use once there is enough news.*/
    padding-right: 1.5rem;
    hyphens: none;
}

.main a {
    text_decoration: underline;
    color: rgb(0, 70, 136);
}

.main a:hover {
    text-decoration: none;
}

.main .myImg {
    margin: 1.5rem;
}

.main .news {
    float: left;
    height: 25rem;
    overflow: auto;
    padding-left: 1rem;
}

.main:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 64rem) {
    
    .main {
        width: 100%;
        margin: 0 0 1rem 0;
    }
     
    .main h1 {
        font-size: 1.2rem;
        margin: 0rem 1.5rem 0rem 1.5rem;
    }

    .main .welcome {
        font-size: 1rem;
        margin: 0.5rem 1.5rem 2rem 1.5rem;
    }

    .main .news {
        padding-left: 1.5rem;
    }

}

@media only screen and (max-width: 40rem) {
    
    .main .welcome {
        hyphens: auto;
    }

    .main p {
        hyphens: auto;
    }
}