.lab {
    display: block;
    margin: auto;
    width: 64rem;
    margin: 2rem auto 2rem auto;
    font-size: 1.2rem;
    padding: 0 1rem;
}

.lab h1 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(240, 134, 0);
    text-align: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
}

.lab h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(240, 134, 0);
    text-align: center;
    width: 100%;
    margin: 0rem 0 1.5rem 0;
}

.lab p {
    text-align: center;
    text-justify: inter-word;
    width: 100%;
    margin: 1rem 0;
    hyphens: none;
}


.lab .myImg {
    margin: 1.5rem 0rem 0rem 0;
}

.lab .myVideo {
    margin: 2rem 0 0 0;
}

/* adjust website to fit small screens */

@media only screen and (max-width: 64rem) {
    .lab {
        width:100%;
        margin: 0 0 2rem 0;
        padding: 0 1.5rem;
        font-size: 1rem;
    }

    .lab h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 40rem) {
    .lab p {
        hyphens: auto;
    }
}